extends ../layouts/default

block head
	title= process.env.WEBSITE_NAME + ' | Blog'

block content
	section.blog
		if blog.length
			each post in blog
				a.post(href="/blog/" + post.slug)
					strong= post.title

	.popup
		//- .popup-overlay
		button.close-popup
			include ../../public/images/sprite/post-close.svg
		.popup-content

block js