extends ../layouts/default

block content
	section.jumbotron
		.text
			h1 Cras quis nulla commodo, aliquam lectus sed
			p Pierre Durand dans Derniers articles
			p Il y a 7h | Durée de lecture 3 min

	section.news

	section.agenda
		if agenda.length
			each event in agenda
				a.event(href="/event/" + event.slug)
					strong.title= event.title
					span.start= event._.startDate.format('MMM YYYY HH:mm')
					span.end= event._.endDate.format('MMM YYYY HH:mm')
					span.end= event.price
	
	.voiture

	.popup-wrapper
		.event-popup
			button.close-popup
			.event-popup-content

block js
	script(src="/js/script.min.js")