extends ../layouts/default

block head
	title= process.env.WEBSITE_NAME

block content
	section.jumbotron
		.text
			h1 Cras quis nulla commodo, aliquam lectus sed
			p Pierre Durand dans Derniers articles
			p Il y a 7h | Durée de lecture 3 min

block js