extends ../layouts/default

block content
	article.post
		if !data.post
			p Post invalide.
		else
			header
				h1= data.post.title
				time #{data.post._.publishedDate.format('MMMM Do, YYYY')}  
			.post
				if data.post.image.exists
					img(src=data.post._.image.fit(750,450))
				!= data.post.content.full
