-
	if(data.event) {
		var ldDataEvent = {
			"@type": "Event",
			"@id": process.env.DOMAIN_NAME + "/agenda/" + data.event.slug + "#event",
			"name": data.event.title,
			"startDate": moment(data.event.startDate).locale('fr').format('YYYY-MM-DDTHH:mm'),
			"endDate": moment(data.event.endDate).locale('fr').format('YYYY-MM-DDTHH:mm'),
			"offers": {
				"@type": "Offer",
				"url": process.env.DOMAIN_NAME + "/agenda/" + data.event.slug,
				"validFrom": moment(data.event.startDate).locale('fr').format('YYYY-MM-DDTHH:mm')
			},
			"about": data.event.category.name.charAt(0).toUpperCase() + data.event.category.name.slice(1)
		};

		if(data.event.description)
			ldDataEvent.description = data.event.description;

		if(articleImageUrl) {
			ldDataEvent.image = {
				"@type": "ImageObject",
				"url": articleImageUrl,
			};

			if(articleImageDesc) {
				ldDataEvent.image.caption = articleImageDesc;
			}
		}

		if(data.event.price) {
			ldDataEvent.offers.price = data.event.price.replace(',','.');
			ldDataEvent.offers.priceCurrency = "EUR";
		} else {
			ldDataEvent.offers.price = 0;
			ldDataEvent.offers.priceCurrency = "EUR";
		}

		if(data.event.status === "Places disponibles") {
			ldDataEvent.offers.availability = "http://schema.org/InStock";
		} else if(data.event.status === "Complet") {
			ldDataEvent.offers.availability = "http://schema.org/SoldOut";
		}

		if(data.contact.address.country || data.contact.address.suburb || data.contact.address.postcode || data.contact.address.street1) {
			ldDataEvent.location = {
				"@type": "Place",
				"address": {
					"@type": "PostalAddress"
				},
				"name": process.env.WEBSITE_NAME
			};

			if(data.contact.address.country)
				ldDataEvent.location.address.addressCountry = data.contact.address.country;
			if(data.contact.address.suburb)
				ldDataEvent.location.address.addressLocality = data.contact.address.suburb;
			if(data.contact.address.postcode)
				ldDataEvent.location.address.postalCode = data.contact.address.postcode;
			if(data.contact.address.street1)
				ldDataEvent.location.address.streetAddress = data.contact.address.street1;
		}
	}
