-
	if(data.post) {
		var ldDataPost = {
			"@type": "BlogPosting",
			"headline": data.post.title,
			"datePublished": data.post._.publishedDate.format('YYYY-MM-DDTHH:mm'),
			"author": {
				"@type": "Organization",
				"@id": process.env.DOMAIN_NAME + "#organization",
				"name": process.env.WEBSITE_NAME
			},
			"publisher": {
				"@type": "Organization",
				"@id": process.env.DOMAIN_NAME + "#organization",
				"name": process.env.WEBSITE_NAME
			}
		}

		if(articleImageUrl) {
			ldDataPost.image = {
				"@type": "ImageObject",
				"url": articleImageUrl,
			};

			if(articleImageDesc) {
				ldDataPost.image.caption = articleImageDesc;
			}
		}

		if(data.post.text)
			ldDataPost.articleBody = data.post.text
	}