-
	var ldSocials = [];

	if(data.contact.socials.facebook !== "")
		ldSocials.push(data.contact.socials.facebook);
	if(data.contact.socials.twitter !== "")
		ldSocials.push(data.contact.socials.twitter);
	if(data.contact.socials.linkedin !== "")
		ldSocials.push(data.contact.socials.linkedin);