include nav
include socials
include event
include post

-
	var ldDataWebPage = {
		"@context": "https://schema.org",
		"@type": "WebPage",
		"url": process.env.DOMAIN_NAME + "/" + section,
		"hasPart": []
	}

	if(ldSocials.length)
		ldDataWebPage.sameAs = ldSocials;

	if(articleImageUrl) {
		ldDataWebPage.primaryImageOfPage = {
			"@type": "ImageObject",
			"contentUrl": articleImageUrl,
		};

		if(articleImageDesc) {
			ldDataWebPage.primaryImageOfPage.caption = articleImageDesc;
		}
	}

	if(ldDataEvent) {
		ldDataWebPage.mainEntity = {
			"@id": process.env.DOMAIN_NAME + "/agenda/" + data.event.slug + "#event"
		};
		ldDataWebPage.url += "/" + data.event.slug;
	} else if (ldDataPost) {
		ldDataWebPage.mainEntity = ldDataPost;
		ldDataWebPage.url += "/" + data.post.slug;
	}

	ldDataWebPage.hasPart.push(ldDataNav);

	ldDataWebPage = JSON.stringify(ldDataWebPage);


script(type="application/ld+json")!= ldDataWebPage