
.agenda {
	overflow: hidden;
	color: @white;
	background: @color1-c;
	width: 100%;
	padding: 0 @margin - @gutter / 2;
	box-sizing: border-box;
	padding-top: 40px;
	margin-top: 100px;

	h1 {
		font-weight: 900;
		float: left;
		position: relative;
		text-transform: lowercase;
		padding: 0 @gutter / 2;
		font-size: 73px;
		margin: 0;
		box-sizing: border-box;

		&:before {
			width: 184px;
			position: absolute;
			border-bottom: 2px solid @white;
			bottom: 5px;
			right: @gutter / 2;
			content: "";
			display: block;
		}

		&:after {
			width: 42px;
			position: absolute;
			border-bottom: 2px solid @white;
			bottom: 5px;
			left: @gutter / 2;
			content: "";
			display: block;
		}
	}

	h2 {
		font-weight: 900;
		margin-left: @gutter / 2;
		text-transform: capitalize;
	}

	.agenda-head {
		.clearfix();
		margin-bottom: 50px;
	}

	fieldset.filter {
		display: none;
		float: right;
		width: 2 * @column;
		margin: 0;
		border: none;
		color: @color1-a;
		font-weight: 900;
		font-size: 13px;
		float: right;
		padding: 0;

		input[type=checkbox] {
			appearance: none;
			visibility: hidden;
			display: none;
		}

		legend, label {
			margin: 0 @gutter / 2;
			display: block;
			float: left;
			width: calc(50% ~"-" @gutter);
			margin-bottom: 13px;
			line-height: 16px;
		}

		label {
			user-select: none;
			cursor: pointer;
			text-transform: lowercase;
			position: relative;
			box-sizing: border-box;
			padding-left: 23px;

			&:before {
				position: absolute;
				left: 0;
				content: "";
				display: block;
				width: 18px;
				height: 18px;
				border: 3px solid @white;
				box-sizing: border-box;
			}
		}

		input:checked + label:after {
			position: absolute;
			left: 5px;
			bottom: 3px;
			border-radius: 10px;
			content: "";
			display: block;
			width: 8px;
			height: 8px;
			background: @white;	
		}
	}

	fieldset.time-selector {
		display: none;
		float: right;
		position: relative;
		margin: 0;
		border: none;
		width: 4 * @column;
		padding: 0 @gutter / 2;
		box-sizing: border-box;
		height: 28px;
		overflow: hidden;

		.time-selector-months {
			overflow: hidden;
			position: absolute;
			top: 0;
			height: 80px;
			left: @gutter / 2 + 28px;
			right: @gutter / 2 + 28px;
			box-sizing: border-box;
			display: flex;
			flex-wrap: nowrap;
			justify-content: left;
		}

		.next, .prev {
			z-index: 2;
			cursor: pointer;
			position: absolute;
			top: 0;
			appearance: none;
			padding: 0;
			width: 28px;
			height: 28px;
			border: none;
			transition: opacity 0.3s ease-in, background 0.3s ease;
			opacity: 1;
			background: transparent;

			&:not(.disabled):hover {
				background: fade(@color1-a, 50%);
			}

			&.disabled {
				opacity: 0.2;
				cursor: default;
			}

			span {
				.assistive-hide();
			}
		}

		.prev {
			left: @gutter / 2;
		}

		.next {
			right: @gutter / 2;
		}

		input[type=radio] {
			display: none;
		}

		label {
			flex: 0 0 auto;
			display: block;
			height: 28px;
			user-select: none;
			cursor: pointer;
			position: relative;
			text-align: center;
			width: 25%;
			color: @color1-a;
			padding: 5px 0 10px 0;
			text-transform: uppercase;
			list-style: none;

			&:hover:after {
				border-bottom: 4px solid white;
				bottom: 14px;
			}

			&:after {
				content: "";
				display: block;
				bottom: 15px;
				position: absolute;
				left: 2px;
				right: 2px;
				border-bottom: 1px solid white;
				transition: border 0.2s ease-out;
			}
		}

		input:checked + label {
			font-weight: 900;

			&:after {
				border-bottom: 4px solid white!important;
				bottom: 14px!important;
			}
		}
	}

	.months{
		width: 100%;
		margin-bottom: 40px;

		.month{
			.clearfix();
			overflow: hidden;
			width: 100%;
			clear: both;
		}
	}

	.pseudo-week {
		width: 100%;
		position: relative;
		display: block;
		box-sizing: border-box;
		float: left;

		&:after {
			z-index: -1;
			content: "";
			position: absolute;
			top: 0;
			left: @gutter / 2;
			right: @gutter / 2;
			bottom: 0;
			height: 1000vh;
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 20"><rect fill="@{color1-a}" width="1" height="1"/></svg>') repeat;
			background-size: 1px 20px;
		}
	}

	.event-ticket {
		transition: none;
		width: 2 * @column;
		padding: 0 @gutter / 2;
		float: left;
		clear: none;
		box-sizing: border-box;
		margin-bottom: @gutter;
		color: @white;

		a {
			position: relative;
			height: 160px;
			background: @color1-a;
			display: block;
			padding: 20px;
			box-sizing: border-box;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			color: @white;
		}

		.category {
			font-size: 20px;
		}

		.title {
			font-size: 30px;
			font-weight: 900;
			overflow: hidden;
			.multiline-ellipsis(3, 30px, 1.15);
		}

		.day {
			position: absolute;
			right: -7px;
			top: -15px;
			font-weight: 900;
			font-size: 40px;
		}
	}

	.no-events-in-month {
		margin-left: @gutter / 2;
	}
}

.agenda.interactive {
	h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		font-size: 14vw;
		text-align: center;
		margin: 0;
		color: @color1-d;
		text-transform: uppercase;
		z-index: -1;
	 	transform: translate(-50%, -50%);
	}

	fieldset.time-selector, fieldset.filter {
		display: block;
	}

	.months {
		position: relative;
	}

	.month:not(.currentMonth) {
		pointer-events: none;
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;

		&.toLeft {
			transform: translate3D(-100px, 0, 0);
		}

		&.toRight {
			transform: translate3D(100px, 0, 0);
		}
	}

	.month {
		position: relative;
		min-height: 160px;
		transition: transform 0.2s ease-in, opacity 0.2s ease-in;

		.pseudo-week {
			width: 2 * @column;
			padding: 40px @gutter / 2;
		}

		.no-events-in-month, .no-events-in-filter {
			pointer-events: none;
			position: absolute;
			left: @margin;
			top: 0;
			width: calc(100% ~"-" 2 * @margin);
			margin-top: 61px;
			text-align: center;
			color: @color1-a;
			font-weight: 900;
			margin-left: 0;
		}

		.no-events-in-filter {
			opacity: 0;
			transform: translateZ(0);
			will-change: opacity;
			transition: opacity 0.2s ease-out;

			&.show {
				opacity: 1;
				transition: opacity 0.2s ease-in 0.2s;
			}
		}

		.event-ticket {
			width: 100%;
			padding: 0;
			transform: translateZ(0);
			will-change: transform, opacity, width, margin, padding, height;
			transition:
				transform 0.1s ease-out 0.1s,
				opacity 0.1s ease-out 0.1s,

				width 0.2s ease-out,
				margin 0.2s ease-out,
				padding 0.2s ease-out,
				height 0.2s ease-out 0.2s;
			opacity: 1;

			a {
				transform: translateZ(0);
				will-change: height, padding;
				transition: height 0.1s ease-out, padding 0.1s ease-out, background 0.2s ease;

				&:hover {
					background: darken(@color1-a, 10%);
				}
			}
		}

		.event-ticket.filtered {
			transition:
				transform 0.2s ease-in,
				opacity 0.2s ease-in,

				width 0.2s ease-out 0.1s,
				margin 0.2s ease-out 0.1s,
				padding 0.2s ease-out 0.1s,
				height 0.05s ease-out 0s;
			pointer-events: none;
			transform: scale(0.5);
			opacity: 0;
			width: 0;
			margin: 0;
			padding: 0;

			a {
				transition: height 0.1s ease-out 0.2s, padding 0.1s ease-out 0.30s;
				height: 0px;
				padding: 0;
			}
		}
	}

	.month.currentMonth {
		transform: translate3D(0px, 0, 0);
		opacity: 1;
		transition: transform 0.2s ease-out 0.1s, opacity 0.2s ease-out 0.1s;
	}
}


.agenda.is-mobile {
	fieldset.time-selector {
		.next, .prev {
			display: none;
		}

		.time-selector-months {
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;

			left: @gutter / 2;
			right: @gutter / 2;

			label {
				width: 40%;

				&:hover:after {
					border-bottom: 1px solid white;
					bottom: 15px;
				}
			}
		}
	}
}


@media screen and (max-width: 1279px), screen and (max-device-width: 1279px) {
	.agenda.interactive {
		.heading-wrapper {
			.clearfix();
			width: 100%;
		}

		fieldset.time-selector, fieldset.filter {
			margin-top: 50px;
		}

		fieldset.time-selector {
			width: 5 * @column;
		}

		fieldset.filter {
			width: 3 * @column;
		}
	}
}

@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
	.agenda:not(.interactive) {
		.event-ticket {
			width: 100%;
		}
	}

	.agenda.interactive {
		.month {
			padding-top: 5px;

			.pseudo-week {
				&.empty {
					position: absolute;
				}

				&:after {
					background: transparent;
				}

				padding-top: 0;
				padding-bottom: 0;
				width: 100%;
			}

			.no-events-in-month, .no-events-in-filter.show {
				position: relative;
				margin-top: 20px;
				margin-bottom: 30px;
			}

			.no-events-in-filter {
				position: relative;
				margin-bottom: 0;
				margin-top: 0;
			}

			h2 {
				font-size: 10vw;
				z-index: 1;
				position: static;
				transform: none;
				margin-bottom: 50px;
				display: inline-block;
			}
		}

		fieldset.time-selector {
			width: 100%;
		}

		fieldset.filter {
			width: 100%;
		}
	}
}

@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
	.agenda {
		padding: 0 @margin-mobile - @gutter / 2;
		padding-top: 50px;

		.heading-wrapper {
			text-align: center;
		}

		h1 {
			float: none;
			display: inline-block;
		}
	}
}