
section.articles {
	width: 100%;
	padding: 0 @margin - @gutter / 2;
	box-sizing: border-box;
	margin-top: 100px;
	margin-bottom: 200px;
	padding-bottom: 200px;
	.clearfix();

	.heading-wrapper {
		background: @color2-d;
		float: left;
		width: calc(5 * @column ~'+' @margin - @gutter);
		margin-left: -@margin + @gutter / 2;
		padding: 50px 0 30px 0;

		h1 {
			padding: 36px 30px 50px 30px;
			box-sizing: border-box;
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 32"><rect fill="@{white}" width="1" height="1"/></svg>') repeat;
			background-size: 1px 32px;
			width: calc(100% ~'-' 2 * @margin);
			margin: 0;
			margin-left: @margin;
			text-transform: uppercase;
			color: @white;
			font-weight: 900;
			font-size: 70px;
			line-height: 64px;
			word-wrap: break-word;
		}
	}

	.intro-text {
		font-weight: 700;
		font-size: 14px;
		float: right;
		width: calc(3 * @column ~'-' @gutter);
		margin: 100px @gutter / 2 0 @gutter / 2;
		padding: 0 40px;
		box-sizing: border-box;
	}
}

.posts-grid {
	.clearfix();
	margin-left: -(@margin - @gutter / 2);
	display: block;
	float: left;
	width: calc(100% ~'+' 2 * (@margin - @gutter / 2));

	.more-soon {
		position: absolute;
		z-index: 0;
		width: 280px;
		height: 180px;
		background: @color2-f;
		bottom: -300px;
		right: 20%;
		font-weight: 900;
		font-size: 30px;
		transform: rotateZ(-15deg);
		padding: 20px;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		span {
			display: inline-block;
			width: 150px;
			@new-grey: fade(black, 20%);
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 32"><rect fill="@{new-grey}" width="1" height="1"/></svg>') repeat;
			background-size: 1px 32px;
		}
	}

	.post {
		.clearfix();
		width: 25vw;
		height: 25vw;
		outline: 1px solid fade(@black, 5%);
		position: relative;
		background: pink;
		float: left;
		overflow: hidden;
		transition: background 0.2s ease;

		a {
			.clearfix();
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 10px;
			box-sizing: border-box;
		}

		&:nth-child(1n+0) {
			background: @color2-e;

			&:hover {
				background: darken(@color2-e, 20%);
			}
		}

		&:nth-child(2n+0) {
			background: @color1-c;

			&:hover {
				background: darken(@color1-c, 20%);
			}
		}

		img {
			position: absolute;
			top: -9999px;
			right: -9999px;
			bottom: -9999px;
			left: -9999px;
			margin: auto;
			min-width: 100%;
			min-height: 100%;
			transition: filter 0.2s ease;
			filter: brightness(1);

			&:hover {
				filter: brightness(0.7);
			}
		}

		.post-title {
			color: @white;
			margin: 0;
			font-size: 3.5vw;
			font-weight: 900;;
			word-wrap: break-word;

			&.few-words {
				font-size: 6vw;
				font-weight: 700;
			}

			&.hidden-title {
				.assistive-hide();
			}

			&:not(.few-words) {
				position: absolute;
				top: 20px;
				bottom: 20px;
				left: 20px;
				right: 20px
			}
		}
	}

}

.posts-grid {
	.post {
		&.carré {
			width: 25vw;
			height: 25vw;
		}

		&.portrait {
			width: 25vw;
			height: 37.5vw;
		}

		&.paysage {
			width: 50vw;
			height: 12.5vw;
		}
	}
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
	section.articles {
		.intro-text {
			float: left;
			clear: both;
			width: calc(8 * @column ~'-' @gutter);
			padding: 0;
			font-size: 16px;
			margin-bottom: 80px;
		}

		.heading-wrapper {
			width: calc(7 * @column ~'+' @margin - @gutter);
		}
	}
}

@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
	.posts-grid {
		.post {
			&.carré {
				width: 33.333333vw;
				height: 33.333333vw;
			}

			&.portrait {
				width: 33.333333vw;
				height: 49.999999vw;
			}

			&.paysage {
				width: 66.666666vw;
				height: 16.666666vw;
			}

			.post-title {
				font-size: 5vw;
				&.few-words {
					font-size: 8vw;
				}
			}
		}
	}	
}

@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
	section.articles {
		margin-bottom: 100px;

		.heading-wrapper {
			width: calc(8 * @column ~'+' @margin - @gutter);
		}
	}

	.posts-grid {
		.more-soon {
			bottom: -260px;
			right: 10%;
		}
	}
}

@media screen and (max-width: 700px), screen and (max-device-width: 700px) {
	.posts-grid {
		.post {
			&.carré {
				width: 50vw;
				height: 50vw;
			}

			&.portrait {
				width: 50vw;
				height: 75vw;
			}

			&.paysage {
				width: 100vw;
				height: 25vw;
			}

			.post-title {
				font-size: 7vw;
				&.few-words {
					font-size: 10vw;
				}
			}
		}

		.more-soon {
			bottom: -260px;
			right: 15%;
		}
	}	
}

@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
	section.articles {
		margin-bottom: 330px;
		padding: 0 @margin-mobile - @gutter / 2;

		.heading-wrapper {
			width: 100%;
			margin-left: -@margin-mobile + @gutter / 2;

			h1 {
				padding: 40px 30px 50px 30px;
				font-size: 60px;
				width: calc(100% ~'-' 2 * @margin-mobile);
				margin-left: @margin-mobile;
			}
		}
	}

	.posts-grid {
		margin-left: -(@margin-mobile - @gutter / 2);
		width: calc(100% ~'+' 2 * (@margin-mobile - @gutter / 2));

		.more-soon {
			right: 50%;
			margin-right: -140px;
		}
	}

}

@media screen and (max-width: 450px), screen and (max-device-width: 450px) {
	section.articles {
		.heading-wrapper {
			padding: 18px 0 30px 0;
			h1 {
				font-size: 45px;
				padding: 47px 30px 50px 30px;
			}
		}
	}

	.posts-grid {
		.more-soon {
			width: 220px;
			height: 150px;
			right: 50%;
			margin-right: -110px;
		}
	}
}

@media screen and (max-width: 400px), screen and (max-device-width: 400px) {
	section.articles {
		.heading-wrapper {
			padding: 30px 0 30px 0;
			h1 {
				font-size: 35px;
				padding: 35px 30px 50px 30px;
				line-height: 32px;
			}
		}
	}

	.posts-grid {
		.post {
			&.carré {
				width: 100vw;
				height: 50vw;
			}

			&.portrait {
				width: 100vw;
				height: 75vw;
			}

			&.paysage {
				width: 100vw;
				height: 50vw;
			}

			.post-title {
				font-size: 10vw;
				&.few-words {
					font-size: 15vw;
				}
			}
		}
	}	
}

@media screen and (max-width: @min-width), screen and (max-device-width: @min-width) {
	.posts-grid {
		.post {
			&.carré {
				width: @min-width;
				height: @min-width / 2;
			}

			&.portrait {
				width: @min-width;
				height: @min-width * 0.75;
			}

			&.paysage {
				width: @min-width;
				height: @min-width / 2;
			}

			.post-title {
				font-size: 30px;
				&.few-words {
					font-size: 45px;
				}
			}
		}
	}	
}