article.event {
	padding: 100px;

	time, .price {
		display: block;
	}

	time {
		margin-bottom: 10px;
		font-weight: bold;
	}

	.price {
		background: fade(green, 30%);
		padding: 5px 10px;
		display: inline-block;
	}

	img {
		width: 100%;
		margin-bottom: 20px;
	}

	.description {
		margin-top: 20px;
	}
}