
section.lesoin {
	width: 100%;
	box-sizing: border-box;
	.clearfix();

	.header {
		width: 100%;
		box-sizing: border-box;
		.clearfix();
		padding: 0 @margin - @gutter / 2;
	}

	.heading-wrapper {
		float: left;
		width: calc(5 * @column ~'+' @margin - @gutter);
		margin-left: -@margin + @gutter / 2;
		background: @color2-c;
		padding: 120px 0 30px 0;

		h1 {
			padding: 29px 30px 50px 30px;
			box-sizing: border-box;
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 31"><rect fill="@{white}" width="1" height="1"/></svg>') repeat;
			background-size: 1px 31px;
			width: calc(100% ~'-' 2 * @margin);
			margin: 0;
			margin-left: @margin;
			text-transform: uppercase;
			color: @white;
			font-weight: 900;
			font-size: 120px;
			word-spacing: 30000px;
			line-height: 94px;
			word-wrap: break-word;
		}
	}

	.intro-text {
		font-weight: 700;
		font-size: 14px;
		float: right;
		width: calc(3 * @column ~'-' @gutter);
		margin: 120px @gutter / 2 0 @gutter / 2;
		padding: 0 40px;
		box-sizing: border-box;
	}

	section.professionals {
		padding: 0 @margin - @gutter / 2;
		box-sizing: border-box;
		width: 100%;
		clear: both;
		float: left;

		.spacer-2, .spacer-3 {
			display: block;
			width: 100%;
			height: 40px;
			float: left;
			clear: both;
		}

		.spacer-2 {
			display: none;
		}


		h2 {
			box-sizing: border-box;
			color: @color2-c;
			font-size: 40px;
			font-weight: 900;
			width: calc(3 * @column ~'-' @gutter);
			margin: 70px @gutter / 2 30px @gutter / 2;
		}

		.professional {
			.clearfix();
			font-weight: 700;
			font-size: 14px;
			color: @color2-c;
			float: left;
			width: calc(33.33333% ~'-' @gutter);
			margin: 0 @gutter / 2;

			img {
				width: 100%;
				margin-bottom: 20px;
			}

			.description {
				margin: 0;
			}

			.name, .description, .website, .job, .email, .phone, .socials, .schedule {
				display: inline-block;
				float: left;
				clear: both;
				margin-bottom: 10px;
			}

			.name {
				font-weight: 900;
			}

			.socials a {
				margin-right: 20px;
			}

			.schedule {
				display: table;
				width: 100%;

				caption {
					margin-bottom: 10px;
				}

				th, td {
					width: 50%;
				}
			}
		}
	}
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
	section.lesoin {
		.intro-text {
			float: left;
			clear: both;
			width: calc(8 * @column ~'-' @gutter);
			padding: 0;
			font-size: 16px;
		}

		section.professionals {
			.professional {
				width: calc(50% ~'-' @gutter);
			}

			.spacer-2 {
				display: block;
			}

			.spacer-3 {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
	section.lesoin {
		.heading-wrapper {
			width: calc(7 * @column ~'+' @margin - @gutter);
		}
	}
}

@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
	section.lesoin {
		.header {
			padding: 0 @margin-mobile - @gutter / 2;
		}

		.heading-wrapper {
			width: 100%;
			margin-left: -@margin-mobile + @gutter / 2;

			h1 {
				width: calc(100% ~'-' 2 * @margin-mobile);
				margin-left: @margin-mobile;
			}
		}

		section.professionals {
			padding: 0 @margin-mobile - @gutter / 2;
			
			h2 {
				width: calc(6 * @column ~'-' @gutter);
			}

			.professional {
				width: calc(50% ~'-' @gutter);
			}
		}
	}
}

@media screen and (max-width: 430px), screen and (max-device-width: 430px) {
	section.lesoin {
		.heading-wrapper h1 {
			font-size: 80px;
			padding-top: 14px;
		}

		section.professionals {
			h2 {
				width: calc(8 * @column ~'-' @gutter);
				font-size: 30px;
			}

			.professional {
				width: calc(100% ~'-' @gutter);	
				margin-bottom: 30px;
			}
		}
	}
}
