
.popup {
	display: none;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	background: @color1-d;

	// .popup-overlay {
	// 	background: red;
	// 	opacity: 0.3;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	cursor: pointer;
	// }

	.popup-content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: calc(@margin ~"-" @gutter / 2);
		right: calc(@margin ~"-" @gutter / 2);
		overflow: hidden;
	}

	button.close-popup {
		z-index: 2;
		position: absolute;
		left: 20px;
		top: 20px;
		height: 33px;
		width: 33px;
		background: red;
		border: none;
		cursor: pointer;
	}
}

.popup-active {
	overflow: hidden;
	.popup, .popup-overlay {
		display: block;
	}
}