
// @navbar-color: red;

// .primary-navbar {
// 	background: @navbar-color;
// }

// .primary-navbar__item--active {
// 	box-shadow: 2px 0 0 @navbar-color;

// 	.primary-navbar__link {
// 		background: darken(red, 15%);
// 	}
// }

// a, .a {
// 	color: @navbar-color;
// }

footer {
	display: none;
}

.separate_735kq0-o_O-expand_qceg77 {
	display: none;
}

.grow_2r5qf-o_O-search_5fcozc {
	flex: 2 1 0!important;
}

label[for="endDate"] + div div {
	div:first-child {
		display: none;
	}

	div:nth-child(2) {
		padding-left: 0;
	}
}