// Bootstrap
// =========


body {
	margin: 0;
	font-family: sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

@import "site/variables.less";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout.less";
@import "site/index.less";
@import "site/contact.less";
